/* style.css */

/* card */
.card img {
  width: 100%;
  height: 250px;        
  object-fit: cover;    
  border-radius: 10px;
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 8px 40px;
  border-radius: 8px;
  font-size: 18px;
}

/* ZOOM overlay */
#zoomimg{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#bigimag{
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 10px;
  display: block;
}

/* buttons that will always be clickable */
.icon-btn{
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  padding: 8px;
}

/* close */
.close-btn{
  top: 20px;
  right: 25px;
  font-size: 28px;
}

/* arrows */
.arrow-btn{
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;

  background: rgba(0,0,0,0.35);
  width: 55px;
  height: 55px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#leftArrowBtn{ left: 25px; }
#rightArrowBtn{ right: 25px; }